.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {

    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    padding: 2em 0;
}

.secaoPai {
    width: 80%;
    text-align: start;
}

.secaoPai>div>button {
    background-color: #dca910;
    color: #333333;
}

.secaoPai>div>button:hover {
    border: 1px solid var(--dourado);
    background-color: var(--dourado);
}

.secaoPai>h1 {
    color: #2A9D8F;
}

p {
    font-size: 1.5rem
}